/* 테블릿 1차 반응형 */
@media (max-width:1199px){
    /* 헤더 시작 */
    .header_menu {
        display: none;
    }
    
    .m_header {
        display: block;
    }
    /* 헤더 끝 */

    /* 도넛슬라이드 시작 */
    .area_title {
        font-size: 36px;
    }

    .dount_container {
        animation: carousel 20s linear infinite;
    }
    /* 도넛슬라이드 끝 */

    /* 커피 페이드 이미지 시작 */
    .text_area {
        margin-top: 100px;
    }

    .coffee_box {
        width: 800px;
        justify-content: space-between;
        height: 580px;
        /* align-items: center; */
    }

    .text_column > h3 {
        font-size: 36px;
    }

    .small_title {
        font-size: 16px;
    }

    .small_text {
        font-size: 14px;
    }

    .coffee_fade > img {
        width: 350px;
        height: 350px;
    }
    
    .coffee_fade {
        width: 400px;
        height: 400px;
    }

    .coffee_img_box {
        width: 580px;
        height: 580px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .rotate_text>img {
        width: 180px;
        height: 180px;
    }
    /* 커피 페이드 이미지 끝 */

    /* 뉴스 시작 */
    .news_list {
        width: 600px;
    }

    .news_img_box>li {
        box-shadow: 5px 5px 10px #00000060;
        overflow: hidden;
        background-size: 100%;
        background-position: center;
        transition: 0.5s;
        height: 250px;
        width: 250px;
    }

    .news_img > img {
        width: 250px;
        height: 250px;
    }
    /* 뉴스 끝 */

    /* 푸터시작 */
    .footer_container {
        width: 800px;
    }
    .footer_top > img {
        width: 80px;
        height: 80px;
    }

    .footer_menu,
    .footer_text {
        font-size: 14px;
    }
    /* 푸터끝 */
}

/* 테블릿 2차 반응형 */
@media (max-width:960px){

}