/* 나눔스퀘어네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 아네모네 에어 */
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 아네모네 볼드 */
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 가나초콜릿체 */
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공용 스타일 시작 */
body {
    font-family: 'NanumSquareNeo-Variable';
}

.text_area {
    margin-top: 100px;
    text-align: center;
}

.area_title {
    font-size: 50px;
    font-family: 'Cafe24Ohsquare';
    margin-bottom: 16px;
}

.area_text {
    margin-bottom: 100px;
}

.text_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mb_35 {
    margin-bottom: 35px;
}
/* 공용 스타일 끝 */

/* 헤더 시작 */
header {
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    font-size: 22px;
    z-index: 999;
    background: #fff;
}

.header_menu {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 88px;
}

.header_menu>li>a {
    padding: 0 60px;
}

/* 헤더 끝 */

/* 메인(시작부분) 슬라이드 영역 시작 */
.main_slide_area {
    position: relative;
}

.header_menu {
    display: flex;
}

.slider_container {
    width: 100%;
    height: 100%;
    font-size: 100px;
    line-height: 500px;
    overflow: hidden;
    margin-bottom: 8px;
    margin: 0 auto;
    position: relative;
}

.slider_container>ul {
    transition: 1s;
    /* height: 100vh; */
    display: flex;
}

/* .slider_box>li,
.slider_box>li>img {
    width: 100vw;
    height: 100vh;
} */

.slide1 {
    background: url(../image/slide1.png);
}

.slide2 {
    background: url(../image/slide2.png);
}

.slide3 {
    background: url(../image/slide3.png);
}

.slide4 {
    background: url(../image/slide4.png);
}

.slide_img {
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 990px;
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}

.buttons>button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons .prev {
    position: relative;
    margin: 0 50px;
}

.buttons .next {
    position: absolute;
    margin: 0 50px;
    right: 0;
}

.buttons .prev::after,
.buttons .next::after {
    content: '';
    width: 24px;
    height: 24px;
    border-top: 4px solid #ee4a4a;
    border-right: 4px solid #ee4a4a;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15%;
}

.buttons .prev::after {
    transform: rotate(-135deg);
}

.buttons .next::after {
    transform: rotate(50deg);
}

.dot_container {
    width: 200px;
    height: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    width: 30px;
    height: 5px;
    border-radius: 15%;
    background: #fff;
    cursor: pointer;
}

.slide_active {
    background-color: #ee4a4a;
}

/* 메인(시작부분) 슬라이드 영역 끝 */

/* 도넛 슬라이드 시작 */

.text_area {
    margin-top: 100px;
    text-align: center;
}

.area_title {
    font-size: 50px;
    font-family: 'Cafe24Ohsquare';
    margin-bottom: 16px;
}

.area_text {
    margin-bottom: 100px;
}

.donut {
    overflow: hidden;
    padding-bottom: 55px;
}

.carousel_ani {
    display: flex;
}

.dount_container {
    display: flex;
    animation: carousel 15s linear infinite;
}

.carousel_ani:hover .dount_container {
    animation-play-state: paused;
}

@keyframes carousel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.dount_container {
    display: flex;
}

.donut_box:nth-child(even) {
    margin-top: 70px;
}

.donut_box {
    width: 300px;
    height: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
    margin: 0 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.donut_box:hover {
    overflow: visible;
    width: 400px;
}

.donut_name {
    margin-top: 36px;
}

.donut_name_en {
    font-family: 'ghanachoco';
    font-size: 36px;
    text-align: center;
    margin-top: 70px;
}

.box1 {
    background: #F2D5B5;
}

.box2 {
    background: #A3EFE9;
}

.box3 {
    background: #F4E6E7;
}

.box4 {
    background: #DDF2BF;
}

.box5 {
    background: #C8E9F1;
}

.box6 {
    background: #FFD8C5;
}

.box7 {
    background: #ffd7e4;
}

.box8 {
    background: rgb(228, 200, 255);
}

.box9 {
    background: #F7F6C7;
}

.box10 {
    background: #FDCED6;
}

.box11 {
    background: #E1E8D5;
}

.box12 {
    background: #FFFCAF;
}

/* 도넛 슬라이드 끝 */

/* 아이엠커피 페이드 슬라이드 시작 */
.coffee {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.wave_box {
    position: relative;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../image/wave_green.png);
    background-size: 1000px 100px;
}

.wave1 {
    animation: wave1 20s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave2 {
    animation: wave2 7s linear infinite;
    z-index: 99;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes wave1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.coffee_inner, 
.coffee_inner > .text_area {
    background: #DDF2BF;
}

.coffee_inner > .text_area > .area_title {
    margin: 0;
    padding: 24px 0;
}

.coffee_box {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 50px;
}

.text_column > h3 {
    font-size: 50px;
    font-family: 'ghanachoco';
}

.small_title {
    font-size: 24px;
    font-family: 'Cafe24Ohsquareair';
}

.small_text {
    font-size: 16px;
    line-height: 20px;
}

.button_box > button {
    background: none;
    border: 1px solid #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 200px;
    font-size: 16px;
    font-family: 'NanumSquareNeo-Variable';
    cursor: pointer;
}

/* 페이드 커피 이미지 시작 */
.coffee_img_box {
    position: relative;
}
.coffee_fade {
    position: relative;
    width: 580px;
    height: 580px;
    z-index: 97;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 580px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
    box-sizing: border-box;
}

.showing {
    opacity: 1;
    z-index: 98;
}
/* 페이드 커피 이미지 끝 */

.rotate_text {
    position: absolute;
    top: 0;
    right: 0;
}

.rotate_text > img {
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
/* 아이엠커피 페이드 슬라이드 끝 */

/* 지점찾기 시작 */
.place_search {
    margin-top: 100px;
    width: 100%;
    height: 750px;
}

.relative_container {
    position: relative;

}

.relative_container > h2 {
    font-size: 85px;
    font-family: 'ghanachoco';
    text-align: center;
    line-height: 100px;
}

.place_search_box {
    display: flex;
    position: absolute;
    top: 50%;
    left: calc(50% - 970px);
}

.place_search_box > img {
    z-index: -1;
}

.place_search_box > .text_column {
    padding-left: 100px;
}

.place_search_box > .text_column > .small_title {
    margin-top: 200px;
}

.search > p {
    margin-bottom: 16px;
}

.input_box {
    border: 1px solid #000;
    width: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.input_box > input {
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
}
/* 지점찾기 끝 */

/* 뉴스 시작 */
.news {
    background: #D8E9F5;
    padding-bottom: 100px;
}

.news > .text_area {
    padding-top: 100px;
}

.news > .text_area > .area_title {
    font-family: 'ghanachoco';
}

.news_list {
    width: 1200px;
    margin: 0 auto;
}

.news_img_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_img_box:nth-child(-n+5) {
    padding-bottom: 35px;
}

/* 뉴스 끝 */